<div class="navbar-fixed">
<nav class="white blue-text z-depth-0">
    <ul id="slide-out" class="side-nav">
        <li><a href="{{ site.baseurl }}/" class="blue-text">Home</a></li>
        {% for page in site.pages %}
            {% if page.title and page.hidden != true %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" class="blue-text">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{{ "/blog/" | prepend: site.baseurl }}" class="blue-text"><i class="fa fa-newspaper-o fa-lg"> Blog</i></a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="blue-text"><i class="fa fa-rss fa-lg"> Feed</i></a></li>
        <li><a href="{{ "/about/website/" | prepend: site.baseurl }}" class="blue-text"><i class="fa fa-cogs fa-lg"> This site</i></a></li>
    </ul>
    <div class="container container-large">
    <a class="brand-logo" href="{{ site.baseurl }}/" class="blue-text"><span class="light blue-text">{{ site.logo }}</span></a>
    <a href="#" data-activates="slide-out" class="button-collapse left blue-text"><i class="fa fa-university"></i></a>
    <ul class="right hide-on-med-and-down">
        {% for page in site.pages %}
            {% if page.title and page.hidden != true %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" class="blue-text">{{ page.title}}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{{ "/blog/" | prepend: site.baseurl }}" class="blue-text"><i class="fa fa-newspaper-o fa-lg"></i></a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="blue-text"><i class="fa fa-rss fa-lg"></i></a></li>
          <li><a href="{{ "/about/website/" | prepend: site.baseurl }}" class="blue-text"><i class="fa fa-cogs fa-lg"></i></i></a></li>
    </ul>

    </div>
</nav>
</div>
